body{
    margin: 0px;
}

label{
    font-family: "Marker Felt";
    font-weight: bold;
}

.register{
    margin: auto;
    margin-top: 5%;
    width: 75%;
    border: solid 10px #004c93;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;

}
.register h1{
    text-align: center;
    color: White;
    background-color: #004c93;
    margin: 0px;
    padding: 3%;
}

.formContainer{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 5% auto;
    margin-top: 10%;
}
input[type=text], input[type=email], input[type=password], input[type=tel], input[type=date]{
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #004c93;
}
input[type=submit]{
    width: 100%;
    border: 2px solid #004c93;

